body {

   
}

 
        u { 
  text-decoration: underline;
  margin-left: 27px;

}

.breadcrumb{
     
    background-color: #ffff;
}
.jumbotron {
  
    background-color:#ffff;
}


